<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <div class="nav-scroller py-1 mb-2 navbar-dark bg-primary">
        <nav style="text-align:center;">
            <a class="p-2 link-secondary" style="color:white; font-weight:bold;" href="/notices">공고</a>
            <a class="p-2 link-secondary" style="color:white; font-weight:bold;" href="/shelters">보호소</a>
            <a class="p-2 link-secondary" style="color:white; font-weight:bold;" href="/kinds">품종</a>
        </nav>
    </div>
</div>