<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>LuvPet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<main class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Let's go meet out pets !</h1>
                <p class="lead text-muted">Lovely friends are waiting for you</p>
                <p>
                </p>
            </div>
        </div>
    </section>
</main>

<div th:replace="fragments/footer :: footer" />




</body>
</html>
